@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Indie Flower", cursive;
  background: radial-gradient(ellipse at center, pink, #ff8c8c 110%);
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.welcome-message,
.about-me,
.image-grid {
  padding: 20px;
}

.welcome-message {
  text-align: center;
  background: transparent; /* Update this line */
}

.welcome-message h3 {
  font-size: 60px;
  color: black; /* Add this line */
}

.welcome-message p {
  font-size: 30px;
  font-weight: bold;
  background: transparent; /* Add this line */
  color: black; /* Add this line */
}


.about-me {
  background-color: transparent;
  text-align: center;
  padding: 40px;
}

.about-me h2 {
  font-size: 45px;
}

.about-me p {
  font-size: 25px;
  color: #333;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  text-align: center;
}

.image-grid img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.image-grid img.show {
  opacity: 1;
}

.contact-me {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  color: #555;
  padding-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}
